<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>enregistrement en cours</title>
</head>
<body>
<h1>
    <iframe width="560" height="315" src="{{music.urlyoutube}}" frameborder="0" allow="accelerometer; autoplay=1; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</h1>
<input type="button" onclick="location.href='http://127.0.0.1:8000/Ecoute/imagine/NOTE'">afficher le score!</input>

</body>
</html>
